#app {
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
  margin: auto;

}

.grid td {
  width: 180px;
  height: 50px;
  padding: 50px 30px;
  border: 2px solid rgb(60, 255, 0);
  text-align: center;
  float: right;
  margin: 5px;
  margin-top: 29px;
  margin-left: 5px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;

}

.reserved {
  background: orange;
  color: rgb(0, 0, 0);
  display: inline-block;
  
}

.reserved::after {
  content: 'RESERVED';
  font-size: 15px;
 
}

.available::after {
  content: 'AVAILABLE';
  color: white;
}



.available {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 195, 19);
}


.available  {
  color: #333;
}

li {
  list-style: none;
}

.viewbtn{
 
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: rgb(255, 202, 97);
  margin-right: 8px;

}

.divider{
  width: 100%;
  border-top: 5px;
  border-bottom: 5px;
  height: 50px;
}