
.Redbutton{
  background-color: red;
  font-size: 13px;
  width: 70px;
}

.Greenbutton{
  background-color: green;
  font-size: 13px;
  width: 70px;
}

.Viewbutton{
  background-color: rgb(23, 142, 185);
  font-size: 13px;
  width: 70px;
}


.logoutbutton{
  height: 30px;
  width:150px;
  font-size: 16px;
  margin-top: 80px;
  padding-bottom: 2rem;
  margin-left: 90%;
  color: rgb(202, 52, 97);
}

.logout{
  color: red;
}

.Approve{
  color: green;
}

.welcomeTitle{
  padding-left: 35%;
}